<div id="about">
  <h2
    class="text-[#FFFFFF] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5"
  >
    Tentang Kami
  </h2>
  <p class="text-[#FFFFFF] text-base font-normal leading-normal pb-3 pt-1 px-4">
    Didirikan oleh Lucas dan Jared, Fades &amp; Blades adalah barbershop favorit
    di pusat kota. Kami ahli dalam potongan rambut modern, trim jenggot rapi,
    dan layanan cukur dengan handuk panas. Fokus kami? Memberikan pengalaman
    yang nyaman dan gaya yang memukau setiap kali Anda datang.
  </p>
</div>