<div id="gallery">
  <h2
    class="text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5 text-white"
  >
    Galeri
  </h2>
  <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
    <div class="flex flex-col gap-3">
      <div
        class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
        style='background-image: url("https://cdn.usegalileo.ai/sdxl10/45fd053e-f62e-468b-aa8c-44008fb956e7.png");'
      >
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div
        class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
        style='background-image: url("https://cdn.usegalileo.ai/sdxl10/4bdfff8e-83ad-4e97-817f-bff0b060aecf.png");'
      >
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div
        class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
        style='background-image: url("https://cdn.usegalileo.ai/sdxl10/a875caf8-aa36-4f28-b830-49915e33fa42.png");'
      >
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div
        class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
        style='background-image: url("https://cdn.usegalileo.ai/sdxl10/df603ea8-706c-4713-a228-ca717b94de89.png");'
      >
      </div>
    </div>
  </div>
</div>
