<div class="@container">
  <div class="@[480px]:p-4">
    <div
      class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-xl items-center justify-center p-4"
      style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("/hero-image.jpg");'
    >
      <div class="flex flex-col gap-2 text-center">
        <h1
          class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
        >
          Selamat datang di Rumah Biru Barbershop
        </h1>
        <h2
          class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal"
        >
          Tidak ada tempat yang lebih baik untuk memperbarui gaya Anda selain di
          Rumah Biru Barbershop. Dua barber kami yang berpengalaman siap
          menghadirkan potongan rambut sempurna dan pelayanan terbaik. Walk-ins
          selalu disambut dengan hangat!
        </h2>
      </div>
      <a
        href="https://wa.me/6289510431269"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex h-10 min-w-[84px] cursor-pointer items-center justify-center rounded-xl px-4 bg-[#359EFF] text-[#FFFFFF] text-sm font-bold leading-normal tracking-[0.015em] hover:bg-[#2A85D9] hover:scale-105 transition-all duration-300 @[480px]:h-12 @[480px]:px-5 @[480px]:text-base"
      >
        <span>Hubungi Kami</span>
      </a>
    </div>
  </div>
</div>
