<div id="location">
  <h2
    class="text-[#FFFFFF] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5"
  >
    Lokasi Kami
  </h2>

  <div class="px-4 py-3">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.2250725707954!2d106.88794067499273!3d-6.493161393498938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69c1bc4f05f60f%3A0x54d185bb1f3d374d!2sRumah%20Biru%20Barbershop!5e0!3m2!1sid!2sid!4v1734162906349!5m2!1sid!2sid"
      width="100%"
      height="513"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="rounded-xl mb-3"
      title="Lokasi Kami"
    >
    </iframe>
    <p class="text-[#FFFFFF] text-base font-normal leading-normal">
      Kami berlokasi di Jl. Industri. Tarikolot, Kecamatan Citeurep, Kabupaten
      Bogor, Jawa Barat.
    </p>
    <p class="text-[#FFFFFF] text-base font-normal leading-normal">
      Jam Operasional: Selasa - Minggu: 17.00 - 22.00, Senin: Tutup.
    </p>
  </div>
</div>
